aiofiles==23.2.1
aioredis==2.0.1
aiosqlite==0.17.0
alembic==1.13.1
amqp==5.2.0
annotated-types==0.6.0
anyio==4.3.0
asgiref==3.8.1
async-generator==1.10
async-timeout==4.0.3
asyncpg==0.29.0
attrs==23.2.0
autoflake==2.3.0
Babel==2.14.0
bcrypt==4.0.1
billiard==4.2.0
casbin==1.36.0
celery==5.3.6
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cligj==0.7.2
colorama==0.4.6
cryptography==42.0.4
cssselect2==0.7.0
Django==5.0.4
django-classy-tags==4.1.0
django-cms==4.1.0
django-entangled==0.5.4
django-filer==3.1.1
django-formtools==2.5.1
django-fsm==3.0.0
django-parler==2.3
django-polymorphic==3.1.0
django-sekizai==4.1.0
django-treebeard==4.7.1
djangocms-admin-style==3.3.1
djangocms-alias==2.0.1
djangocms-attributes-field==3.0.0
djangocms-frontend==1.3.1
djangocms-text-ckeditor==5.1.5
djangocms-versioning==2.0.1
dnspython==2.6.1
easy-thumbnails==2.8.5
email-validator==2.1.0.post1
exceptiongroup==1.2.0
Faker==23.2.1
fastapi==0.109.2
fastapi-admin==1.0.4
fastapi-cache2==0.2.1
fastapi-pagination==0.12.17
fastapi-users==12.1.3
fastapi-users-db-sqlalchemy==6.0.1
fastapi_amis_admin==0.7.1
fastapi_user_auth==0.7.2
fastui==0.5.2
fiona==1.9.5
flower==2.0.1
fpdf==1.7.2
geographiclib==2.0
geopandas==0.14.3
geopy==2.4.1
greenlet==3.0.3
gunicorn==21.2.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.4
httptools==0.6.1
httpx==0.27.0
humanize==4.9.0
idna==3.6
importlib-metadata==7.0.1
importlib-resources==6.1.1
iniconfig==2.0.0
install==1.3.5
iso8601==1.1.0
itsdangerous==2.1.2
Jinja2==3.1.3
kombu==5.3.5
lxml==5.2.1
makefun==1.15.2
Mako==1.3.2
MarkupSafe==2.1.5
numpy==1.26.4
orjson==3.9.14
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.0
passlib==1.7.4
pendulum==3.0.0
pillow==10.3.0
pluggy==1.4.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
psycopg2-binary==2.9.9
pycparser==2.21
pydantic==2.6.1
pydantic-settings==2.2.1
pydantic_core==2.16.2
pyflakes==3.2.0
PyJWT==2.8.0
pypika-tortoise==0.1.6
pypng==0.20220715.0
pyproj==3.6.1
pytest==8.0.1
pytest-asyncio==0.23.5
python-dateutil==2.8.2
python-dotenv==1.0.1
python-multipart==0.0.7
pytz==2024.1
pytzdata==2020.1
PyYAML==6.0.1
qrcode==7.4.2
redis==5.0.1
reportlab==4.2.0
rfc3986==2.0.0
shapely==2.0.3
simpleeval==0.9.13
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sqladmin==0.16.1
SQLAlchemy==2.0.27
sqlalchemy2-stubs==0.0.2a38
sqlalchemy_database==0.1.1
sqlmodel==0.0.16
sqlmodelx==0.0.11
sqlparse==0.5.0
starlette==0.36.3
svglib==1.5.1
time-machine==2.13.0
tinycss2==1.2.1
tomli==2.0.1
tornado==6.4
tortoise-orm==0.20.0
typing_extensions==4.9.0
tzdata==2024.1
ujson==5.9.0
uvicorn==0.27.1
vine==5.1.0
watchfiles==0.21.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==12.0
whitenoise==6.6.0
WTForms==3.1.2
zipp==3.17.0
